@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa política de privacidade é assim, assim, e assado!.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsam ullam recusandae, similique asperiores iure animi odit dignissimos quasi officia, qui natus. Autem voluptate corrupti sunt, asperiores odit unde quaerat?</p> 
