<h1>Página QuemSomos</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit laborum, maiores ullam doloremque molestiae perferendis pariatur, officiis harum repellat culpa delectus nisi impedit modi ea! Quia cumque vel rem.</p>

<a asp-controller="Home" asp-action="Index">Voltar pra Home</a>