@model List<CadastroAlunoTorloni.Models.Fruta>

<h1>Página de Frutas</h1>

<h1>Lista De Frutas</h1>

@foreach (var frutas in Model){
    <p>
        Id: @frutas.Id,
        Nome: @frutas.Nome,
        Cor: @frutas.Cor,
        Categoria: @frutas.Categoria,
    </p>

}
