@model List<DevConnect.Models.TabelaPublicacao>;
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.Identity.Client
@using Microsoft.IdentityModel.Tokens
<link rel="stylesheet" href="~/css/feed.css">
<link rel="stylesheet" href="~/css/cadastro.css">

<script defer>
    const postNovoPublicado = "@ViewBag.postNovoPublicado";

    if (postNovoPublicado == "Nao publicado") {
        alert("Post nao publicado! Tente novamente 😔");
    } else if (postNovoPublicado == "Publicado") {
        alert("Publicação postada...");
    }
</script>

<h1>Tela Feed - DevConnect</h1>
<header id="cabecalho">
    <nav>
        <a id="logo-desktop" href="../pages/feed.html">
            <img src="../images/devdev.svg" alt="Logo da empresa devconnect">


        </a>
        <a id="logo-mobile" href="../pages/feed.html">
            <img src="../images/logo-dev-3.svg" alt="Logo da empresa devconnect">


        </a>

        <div class="cabecalho-acoes">

            <a asp-controller="Home" asp-action="Index">
                <img src="../images/icone-casa-preto.svg" alt="icones da empresa devconnect">
            </a>

            <img src="../images/icone-coracao-preto.svg" alt="icones da empresa devconnect">

            <a href="#">
                <img class="foto-perfil" src="../images/Rihanna-Barbadian-singer-Robyn-Fenty.webp" alt="Foto de perfil">
            </a>
        </div>

    </nav>
</header>
<main>
    <div class="secao-storys">
        <section id="storys" class="estilo-formulario">
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/dd64278780fb622bd86daff2d6c8e9c5.jpg" alt="Foto do stories">
                    <span>Beyoncé</span>
                </a>
            </article>
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/ASAP_Rocky.webp" alt="Foto do stories">
                    <span>Asap_Rocky</span>
                </a>
            </article>
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/mariah-carey.webp" alt="Foto do stories">
                    <span>Mariah_Carey</span>
                </a>
            </article>
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/3WdOloHpjtjL96uVOhFRRCcYSwq.jpg" alt="Foto do stories">
                    <span>Zendaya</span>
                </a>
            </article>
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/7IKIT3TZW5JUJGUJXBVJRHXLOU.avif" alt="Foto do stories">
                    <span>Michael_B</span>
                </a>
            </article>
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/transferir.avif" alt="Foto do stories">
                    <span>Doja_Cat</span>
                </a>
            </article>
            <article class="card-story">
                <a href="#">
                    <img id="foto-storys" src="../images/capa-tyler.jpg" alt="Foto dos stories">
                    <span>Tyler</span>
                </a>
            </article>






        </section>
        <!-- Fim Storys -->

        <section id="cadastro-publi" class="estilo-formulario">
            <h2>Publicação</h2>

            <form enctype="multipart/form-data" asp-action="Index" asp-controller="Feed">
                <textarea name="Descricao" id="" placeholder="Digite a descrição do post..." required></textarea>
                <footer class="campo-botoes">
                    <div class="campo-upload">
                        <label for="botao-file">Faça upload da sua imagem aqui...</label>
                        <input type="file" id="botao-file" class="file" name="imagem">
                    </div>
                    <button type="submit" class="botao-azul">Postar</button>
                </footer>
            </form>


        </section>

        <section id="publicacoes">
            @foreach (TabelaPublicacao publi in Model)
            {   // Só irá exibir as publicações que possuem imagens
                if (!publi.ImagemUrl.IsNullOrEmpty())
                {

                    <article class="card-publi">
                        <header>
                            <a href="#">
                                <img class="foto-perfil" src="../images/@publi.IdUsuarioNavigation?.FotoPerfilUrl"
                                    alt="Foto de perfil">
                                    @publi.IdUsuarioNavigation?.NomeUsuario
                            </a>
                        </header>

                        <figure>
                            <img class="imagem-publicacao" src="../images/@publi.ImagemUrl" alt="">
                            <figcaption class="descricao-publicacao">
                                RiRi_BadGirl
                                <p>@publi.Descricao</p>
                            </figcaption>
                            <div class="interacoes-publicacao">
                                <button>
                                    <img src="../images/icone-coracao-preto.svg" alt="">
                                </button>

                                <button>
                                    <img src="../images/icone-comentario-preto.svg" alt="">
                                </button>

                                <span>1 mi curtidas</span>
                            </div>



                        </figure>
                        <button type="button">Ver mais comentários...</button>
                    </article>
                }
                //
                else{

                }

            }

        </section>


    </div>
</main>