 <link rel="stylesheet" href="~/css/perfil.css" />
 
 <h1>Tela Perfil - DevConnect</h1>
    <header id="cabecalho">
        <nav>
            <a id="logo-desktop" href="../pages/perfil.html">
                <img src="../images/devdev.svg" alt="Logo da empresa devconnect">


            </a>
            <a id="logo-mobile" href="../pages/perfil.html">
                <img src="../images/logo-dev-3.svg" alt="Logo da empresa devconnect">
            </a>

            <div class="cabecalho-acoes">

                <a href="../pages/perfil.html">
                    <img src="../images/icone-casa-preto.svg" alt="icones da empresa devconnect">
                </a>

                <img src="../images/icone-coracao-preto.svg" alt="icones da empresa devconnect">

                <a href="#">
                    <img class="foto-perfil" src="../images/RIHANNAAAAAAAA.jpg" alt="Foto de perfil">
                </a>
            </div>

        </nav>
    </header>


    <main>
        <div class="secao-perfil"> 

            <section id="perfil"">
                <img id="foto-perfil" src="../images/rihannaaaaaaaaaaaaaa.svg" alt="Foto do perfil">

                <div class="informacoes-perfil">
                    <span>RiRi_BadGirl</span>
                    <a href="">214 mi de seguidores</a>
                    <a href="">128 seguindo</a>
                    <a href="">1.024 publicações</a>
                    <h2>Rihanna Fenty</h2>
                    <div>
                    <a href="">Editar Perfil</a>
                    <a href="">Sair</a>
                    </div>
                </div>

               

            </section>
            
            <a id="icone-publicacoes" href=""><img  src="../images/icone-galeria-preto.svg" alt="">Publicações</a>
            <section id="publicacoes">
            <article class="card-publi">
                <header>
                    <a href="#">
                        <img class="foto-perfil" src="../images/Rihanna-Barbadian-singer-Robyn-Fenty.webp"
                            alt="Foto de perfil">
                            <span>RiRi_BadGirl</span>
                    </a>
                </header>

                <figure>
                    <img class="imagem-publicacao" src="../images/aaaaaaaa.webp" alt="">
                    <figcaption class="descricao-publicacao">
                        RiRi_BadGirl
                        <p>Meus garotos!</p>
                    </figcaption>
                    <div class="interacoes-publicacao">
                        <button>
                            <img src="../images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button>
                            <img src="../images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>1 mi curtidas</span>
                    </div>
                    
                    

                </figure>
                <button type="button">Ver mais comentários...</button>
            </article>
            
        </section>
        

    </div>

    </main>